.msginput, .sendbutton {
    font-size: medium;
}

/* сверху | справа | снизу | слева */

.mainDiv {
    margin: 5vh 5vw 0 5vw !important;
}

#name {
    margin-left: 10px;
}

#nameform {
    margin-right: 20px;
}

#listOfUsers {
    height: 70vh;
}

#history {
    height: 62vh; 
}

.myListStyle {
    background: #AEA79F linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    padding: 1% ;  
    overflow: scroll;
    margin-bottom: 1vh;
}

#footer{
    display: inline;
}

#msg {
    width: 34vw;
}

#nameForMsg {
    width: 15vw;
}

.myBtnStyle{
    font-size: 22px !important; 
    color: #E95420 !important;
}

.myBtnStyle:hover {
    color: rgb(155, 41, 0) !important;  
}

.myBtnStyle:active, .myBtnStyle:focus {
    box-shadow: none !important;
}